.Box{
    height: 110px;
    background-color: rgb(43, 38, 38);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: white;
}
.BoxDate{
    padding: 15px;
    border: 3px solid white;
    height: 100%;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 18, 18);
   
}
.BoxPrice{
    padding: 10px;
    border-radius: 5px;
    background-color: purple;
    font-weight: bolder;
}
.btn{
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    background-color: crimson;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}