.btn{
   border: none;
 

   outline: none;

}

.valid{
    color: white;
    background-color: purple;
    cursor: pointer;
}
.notvalid{
    color: black;
    background-color: white;
}